# Lab Report Work

In [2]:
student_data = [
    ["Alice", 1234, 3.75, [3.2, 3.5, 3.8, 3.9]],
    ["Bob", 5678, 3.25, [3.0, 3.3, 3.1, 3.4]],
    ["Charlie", 9012, 3.8, [3.9, 3.8, 3.7, 3.9]],
]

In [4]:
student_data = [
    [name, reg_no, cgpa, [sem1, sem2, sem3, sem4]]
    for name, reg_no, cgpa, [sem1, sem2, sem3, sem4] in [
        ("Alice", 1234, 3.75, [3.2, 3.5, 3.8, 3.9]),
        ("Bob", 5678, 3.25, [3.0, 3.3, 3.1, 3.4]),
        ("Charlie", 9012, 3.8, [3.9, 3.8, 3.7, 3.9]),
    ]
]

In [10]:
x = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]  # Example list of lists
for i in x:
    if isinstance(i, list):
        for j in i:
            print(j)

1
2
3
4
5
6
7
8
9

# Lab practice

In [13]:
integer_list = [10, -5, 0, 42, 123]

In [15]:
student_data = [
    ["Alice", 1234, 3.75, [3.2, 3.5, 3.8, 3.9]],
    ["Bob", 5678, 3.25, [3.0, 3.3, 3.1, 3.4]],
    ["Charlie", 9012, 3.8, [3.9, 3.8, 3.7, 3.9]]
]

In [17]:
print(student_data[0][2])  # Prints the CGPA of the first student (Alice)

3.75

In [19]:
i = 0
while i < len(integer_list):
    print(integer_list[i])
    i += 1

10
-5
0
42
123

In [21]:
print(student_data[0][-1])  # Accesses the GPA list for the first student

[3.2, 3.5, 3.8, 3.9]

In [23]:
first_20_integers = list(range(21))  # range(21) generates numbers from 0 to 20

In [25]:
odd_integers = list(range(21, 41, 2))  # Start at 21, increment by 2 to get odd numbers

In [27]:
Student = ["Ibrahim", "Husain", "Irfan", "Ayub", "Usman"]

if "Husain" in Student:
    print("Husain is in the list")

if "Ali" not in Student:
    print("Ali is not in the list")

Husain is in the list
Ali is not in the list

In [29]:
for student in Student:
    print(student)

Ibrahim
Husain
Irfan
Ayub
Usman

In [31]:
my_list = [1, 2, 3, 4] 
print("Initial List:", my_list)

Initial List: [1, 2, 3, 4]

In [33]:
my_list.append(5) 
print("After append(5):", my_list)

After append(5): [1, 2, 3, 4, 5]

In [35]:
my_list.extend([6, 7]) 
print("After extend([6, 7]):", my_list)

After extend([6, 7]): [1, 2, 3, 4, 5, 6, 7]

In [37]:
my_list.insert(2, 10) 
print("After insert(2, 10):", my_list)

After insert(2, 10): [1, 2, 10, 3, 4, 5, 6, 7]

In [39]:
my_list.remove(3) 
print("After remove(3):", my_list)

After remove(3): [1, 2, 10, 4, 5, 6, 7]

In [41]:
removed_element = my_list.pop(1) 
print("Removed element:", removed_element) 
print("After pop(1):", my_list)

Removed element: 2
After pop(1): [1, 10, 4, 5, 6, 7]

In [43]:
x = ["a", ["bb", ["ccc", "ddd"], "ee", "ff"], "g", ["hh", "ii"], "j"]

# Using nested loops to access each element
for item in x:
    if isinstance(item, list): 
        for sub_item in item:
            if isinstance(sub_item, list):
                for inner_item in sub_item:
                    print(inner_item) 
            else:
                print(sub_item)
    else:
        print(item)

a
bb
ccc
ddd
ee
ff
g
hh
ii
j

In [45]:
letters = ('a', 'b', 'c', 'd', 'e')

In [47]:
third_letter = letters[2]  # Accessing the third element (index starts from 0)
last_letter = letters[-1]  # Accessing the last element using negative indexing

print(third_letter)  # Output: 'c'
print(last_letter)  # Output: 'e'

c
e

In [49]:
third_letter = letters[2]  # Accessing the third element (index starts from 0)
last_letter = letters[-1]  # Accessing the last element using negative indexing

print(third_letter)  # Output: 'c'
print(last_letter)  # Output: 'e'

c
e

In [51]:
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)

# List is mutable
my_list[0] = 10  # Modify the first element of the list
print(my_list)  # Output: [10, 2, 3]

# Tuple is immutable
try:
    my_tuple[0] = 10  # Attempt to modify the first element of the tuple
except TypeError:
    print("Tuples are immutable. Cannot modify elements.")

[10, 2, 3]
Tuples are immutable. Cannot modify elements.

In [53]:
num = (1, 2, 3, 4)

# Attempt to modify the element at index 2
try:
    num[2] = 9 
except TypeError:
    print("Tuples are immutable. Cannot modify elements.")

Tuples are immutable. Cannot modify elements.

# Dictionary:

In [1]:
Fd= { 'one': 'aik', 'three': 'teen', 'ten' : 'das', 'fifteen' : 'pandra' }

In [3]:
print(Fd)

{'one': 'aik', 'three': 'teen', 'ten': 'das', 'fifteen': 'pandra'}

In [5]:
print(Fd['one'])

aik

In [7]:
print(Fd['ten'])

das

In [9]:
del Fd['three'] 
print(Fd)

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra'}

In [11]:
print(len(Fd))

3

In [13]:
print(list(Fd.keys()))

['one', 'ten', 'fifteen']

In [15]:
print(list(Fd.values()))

['aik', 'das', 'pandra']

In [17]:
print(list(Fd.items()))

[('one', 'aik'), ('ten', 'das'), ('fifteen', 'pandra')]

In [32]:
Fd = {'one': 1, 'two': 2}

# Check if 'one' and 'two' keys exist in Fd
print('one' in Fd)
print('two' in Fd)

True
True

In [34]:
copy = Fd.copy()
alias = Fd

In [36]:
alias['three'] = '3'
print(alias)

{'one': 1, 'two': 2, 'three': '3'}

In [38]:
print(Fd)

{'one': 1, 'two': 2, 'three': '3'}

In [40]:
copy['three'] = '3'
print(copy)

{'one': 1, 'two': 2, 'three': '3'}

In [42]:
print(Fd)

{'one': 1, 'two': 2, 'three': '3'}

In [44]:
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York",
    "occupation": "Engineer"
}

In [46]:
my_dict.clear()
print(my_dict)  # Output: {}

{}

In [48]:
name = my_dict.get("name") 
print(name)  # Output: Alice

age = my_dict.get("age", 0) 
print(age)  # Output: 30

unknown_key = my_dict.get("country", "N/A") 
print(unknown_key)  # Output: N/A

None
0
N/A

In [50]:
items = my_dict.items()
print(items)  # Output: dict_items([('name', 'Alice'), ('age', 30), ('city', 'New York'), ('occupation', 'Engineer')])

dict_items([])

In [52]:
keys = my_dict.keys()
print(keys)  # Output: dict_keys(['name', 'age', 'city', 'occupation'])

dict_keys([])

In [54]:
values = my_dict.values()
print(values)  # Output: dict_values(['Alice', 30, 'New York', 'Engineer'])

dict_values([])

# List comprehensions:

In [57]:
squares = []
for x in range(10):
    squares.append(x * x)

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [59]:
squares = [x * x for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [61]:
# Cubes of numbers
cubes = [x**3 for x in range(10)] 
print(cubes) 

# Doubles of numbers
doubles = [2*x for x in range(10)]
print(doubles)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [63]:
even_squares = [x * x for x in range(10) if x % 2 == 0]
print(even_squares)

[0, 4, 16, 36, 64]

In [69]:
collection = [1, 2, 3, 4, 5]  # Define the collection
values = []
for item in collection:
    if item % 2 == 0:  # Example condition
        values.append(item * 2)  # Example expression
print(values)

[4, 8]